.card {
  display: flex;
  max-width: 800px;
  height: 333px;
  border-bottom: 1px solid rgb(228, 227, 227);
}

.card-image {
  width: 25%;
  height: 80%;
  object-fit: cover;
  align-self: center;
  border-radius: 5px;
}

.card-info {
  height: 80%;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
}

.location {
  display: flex;
}

.location-pin {
  width: 18px;
  object-fit: contain;
}
.location-country {
  letter-spacing: 0.15em;
  margin-left: 5px;
  text-transform: uppercase;
}
.location-link {
  color: grey;
  text-decoration: underline;
  margin-left: 20px;
}
.card-title {
  font-size: 45px;
  margin: 0;
  padding: 0;
}
.card-desc {
  font-weight: 400;
  margin-top: 0px;
  text-align: left;
}
.card-date {
  margin-top: 40px;
  font-weight: 700;
}
